#hero {
  background-image: url("/assets/icons/hero4.jpg ");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 16px;
}

#hero h1 {
  color: #088178;
}

#hero button {
  background-color: transparent;
  color: #088178;
  /*border:0*/
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;

}