<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping Store</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/fontawesome.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
</head>

<body>
    <section id=header>
        <a href="#"><img id="logo" src="../../assets/icons/logo.png" class="logo" alt="company logo"></a>
        <div>
            <ul id="navbar">
                <li><a routerLink="/home" routerLinkActive="list-item-active">Home</a></li>
                <li><a routerLink="/shop-lists" routerLinkActive="list-item-active">Shop</a></li>
                <li><a routerLink="/blogs" routerLinkActive="list-item-active">Blog</a></li>
                <li><a routerLink="/abouts" routerLinkActive="list-item-active">About</a></li>
                <li><a class="active" routerLink="/contacts" routerLinkActive="list-item-active">Contact</a></li>
                <li id="lg-bag"><a><i class="fa-solid fa-cart-shopping"></i></a></li>
                <a href="#" id="close"><i class="fa-solid fa-square-xmark"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a><i class="fa-solid fa-cart-shopping"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>
    <section class="section-m1">
        <form action="">
            <h4>
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname" value=""><br>

                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname" value=""><br><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname" value=""><br><br>
                <label for="message">Your Message</label><br>
                <textarea id="message" name="message" rows="4" cols="50"></textarea><br><br>

                <button class="btn-normal" type="submit" value="Submit">Submit</button>
            </h4>
        </form>
    </section>
</body>

</html>